.blur-text {
  display: inline-block;
  overflow: hidden;
  font-size: 45px;
  font-weight: bolder;
}

.blur-letter {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  transform: translateY(-20px);
  animation: blurFadeIn 0.6s forwards;
}

@keyframes blurFadeIn {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
